@import url('https://fonts.googleapis.com/css2?family=Festive&display=swap');

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
#camera,
#camera--view,
#camera--sensor,
#camera--output-wrapper,
#overlay--frame,
#camera--output {
  position: fixed;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
#camera--view,
#camera--sensor,
#camera--output-wrapper,
#overlay--frame,
#camera--output {
  transform: scaleX(-1);
  filter: FlipH;
}
#camera--output-wrapper {
  position: absolute;
  transform: scaleX(1);
}
#camera--output-save {
  position: absolute;
  bottom: 10px;
  display: none;
}
#camera--trigger {
  position: fixed;
  bottom: 30px;
}
#overlay--frame {
  z-index: 99;
  transform: scaleX(1);
}
#overlay--frame-img {
  height: 100%;
  width: 100%;
}
.button {
  width: 200px;
  font-size: 32px;
  text-align: center;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
  font-family: 'Festive', cursive;
  background-color: red;
  color: gold;
  border-radius: 20px;
  border: 2px solid gold;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  text-decoration: none;
  z-index: 999;
}
.draggable {
  width: 50px;
}
.button:hover {
  color: green;
  border-color: green;
}
.taken {
  transition: all 0.5s ease-in;
  border: solid 3px white;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
  top: 20px;
  right: 20px;
  z-index:999;
}
#overlay--selector {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 999;
}
.frame--selector {
  background-color: white;
  width: 100px;
  height: auto;
  cursor: pointer;
}