@import url("https://fonts.googleapis.com/css2?family=Festive&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: "Festive", cursive;
}
#camera {
  background-image: url("/assets/img/loading.gif");
  background-repeat: no-repeat;
  background-position: center;
  background-color: green;
}
#camera,
#camera--view,
#camera--sensor,
#camera--output-wrapper,
#overlay--frame,
#camera--output {
  position: fixed;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
#camera--view,
#camera--sensor,
#camera--output-wrapper,
#overlay--frame,
#camera--output {
  transform: scaleX(-1);
  filter: FlipH;
}
#camera--output-wrapper {
  position: absolute;
  max-width: 100%;
  display: none;
}
#camera--output-save {
  transform: scaleX(-1) translateX(50%);
  position: absolute;
  bottom: 10px;
  display: none;
}
#camera--trigger {
  position: fixed;
  bottom: 30px;
  transform: translateX(-50%);
}
#overlay--frame {
  z-index: 99;
  transform: scaleX(1);
}
#overlay--frame-img {
  height: 100%;
  width: 100%;
  display: none;
}
.button {
  width: 200px;
  font-size: 32px;
  text-align: center;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
  background-color: red;
  color: gold;
  border-radius: 20px;
  border: 2px solid gold;
  left: 50%;
  cursor: pointer;
  text-decoration: none;
  z-index: 999;
}
.draggable {
  width: 50px;
}
.button:hover {
  color: green;
  border-color: green;
}
.taken {
  transition: all 0.5s ease-in;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
  top: 20px;
  right: 20px;
  z-index: 999;
}
#overlay--selector {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 999;
}
.frame--selector {
  background-color: white;
  width: 100px;
  height: auto;
  cursor: pointer;
}
#overlay--text {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 999;
}
#overlay--text-input {
  height: 50px;
  width: 300px;
  background-color: gold;
  color:red;
  border: 2px solid green;
  padding-left: 10px;
}
#overlay--text-input::placeholder {
  color: red;
}
#overlay--text-input:focus-visible {
  outline: red auto 1px;
}
#overlay--text-content {
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  color: red;
  text-shadow: -1px 0px 0px green, 1px 0px 0px green, 0px -1px 0px green,
    0px 1px 0px red;
  color: red;
  font-weight: bold;
  font-size: 80px;
  text-align: center;
  z-index: 999;
}
.hidden {
  display: none !important;
}

#edit-image, #camera--output {
  font-family: Arial, Helvetica, sans-serif;
  transform: scaleX(-1);
}

#edit-image {
  padding: 10px;
}

.range-field label {
  font-size: 1em;
  font-weight: bold;
}